.wrapper {
	height:100vh;
	display:flex;
	flex-direction:column;
}

header{
height: 100px;
text-align: center;
}

footer{

text-align: center;
padding-top:40px;
}


main {
	flex:1;
}

header {background-color:#ff9900}
footer {background-color:#33cc33}