body {
	background-color: lightgrey;
}

#band{
	display: flex;
	justify-content: center;
}

h3 {

	font-family: "Arial", sans-serif;

	color:white;
	text-shadow: 2px 2px black; font-size: 150%
}

#circle {
width:500px;
height:auto;
display: block;
margin-left: auto;
margin-right: auto;

}
	

#trax{

color:black;

background-color:LemonChiffon;

font-style:italic;

width:60%

}

ul{

	font-style: italic; font-weight: bold; color:white;
	text-shadow: 2px 2px black; font-size: 130%
}

table{

	color:white;
}

a {
	
	text-decoration:none;

	}	

	a:link {
	
		text-decoration:none;

		background-color: transparent;

	}

	a:visited {
	
	text-decoration:none;

	}
	
	a:hover {

	background-color: yellow;

	text-decoration:underline;

	
		display:block;

		width: 250px;

		margin-left:auto;

		margin-right:auto;		

		height: 25px;
	
	}

	a:active {

	text-decoration:none;

	font-weight:bold;

	}


