body {
	background-color: lightgrey;
}

#band{
	display: flex;
	justify-content: center;
}

h3 {

	font-family: "Arial", sans-serif;

	color:white;
	text-shadow: 2px 2px black; font-size: 150%
}

#album{ 

background-image:url("https://d1wtzzt4oxg683.cloudfront.net/images/covers/130/95630.jpg");
background-repeat:no-repeat; background-position:center;

}



ul{

	font-style: italic; font-weight: bold; color:white;
	text-shadow: 2px 2px black; font-size: 130%
}

table{

	color:white;
}
